@using Client.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider

@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    @if (context.User.Identity.IsAuthenticated)
                    {
                        var role = context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
                        <p>Welcome, @role @context.User.Identity.Name</p>
                        <button class="btn btn-danger" @onclick="Logout"> Logout </button>
                    }
                </Authorized>
                <NotAuthorized>
                    Welcome, Guest
                    <button class="btn btn-primary" @onclick="SignUp"> SignUp </button>
                    <button class="btn btn-primary" @onclick="Login"> Login </button>
                </NotAuthorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    private bool _drawerOpen = true;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null!);
        NavManager.NavigateTo("/login");
    }

    void SignUp()
    {
        NavManager.NavigateTo("/register");
    }
    void Login()
    {
        NavManager.NavigateTo("/login");
    }

}